body{
    margin: 0;
    padding: 0;
    background-color: #FFDAB3;
}

.header {
  position: relative;
  height: 64px;
  background-color: whitesmoke;
}

.brand {
  position: absolute;
  left: 30px;
  top: 22px;
  display: inline-block;      
}

.brand img {
  height: 30px;
  border-radius: 50%;
}

.brand span {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}

.nav {
  position: absolute;
  top: 8px;        
  left: 50%;
  margin-left: -200px; 
}

.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.nav ul li a:hover{
    padding: 8px 8px;
    background-color: #FFDAB3;
    border-radius: 5px;
}
.actions {
  position: absolute;
  right: 20px;
  top: 20px;       
}

.actions button {
  padding: 6px 12px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
  background-color: #3e2723;
  color: white;
  border-radius: 5px;
}
.actions button:hover{
    background-color: #FFDAB3;
    color: #000;
}

.hero {
  background-color: #a58b87;
  border-radius: 50px;
  padding: 80px 0;
  margin: 10px;

}

.hero-content {
  max-width: 600px;
  margin-left: 30px;   
}

.hero-title {
  font-size: 36px;
  margin-bottom: 16px;
  color: #3e2723;
}

.hero-text {
  font-size: 18px;
  margin-bottom: 24px;
  color: #3e2723;
}

.hero .hero-content > a {
  color: whitesmoke;
  text-decoration: none;
  padding:10px 5px;
  background-color: #3e2723;
  border-radius: 5px;
}

.hero .hero-content > a:hover{
    background-color: #FFDAB3;
    color: #000;
}
